.Billboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Billboard{
    text-align: center;
    padding-top: 20px;
    font-size: 28px;
}

.Billboard-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10%;
    position: relative;
}