.Billboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}
.Billboard h2{
    font-size: 30px;
    color: var(--color5);
}

.Billboard-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}