.Landing {
    height: auto;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Landing a{
    text-decoration: none;
    color: var(--color3);
}

.Landing-menu {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;

}

.Landing-menu div {
    width: 100%;
    font-size: 25px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.Landing-movies {
    background-color: #42378f;
background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%);
    border-radius: 20px;
}

.Landing-series {
    background-color: #c73e1d;
background-image: linear-gradient(315deg, #c73e1d 0%, #a23b72 37%, #2e86ab 100%);

    border-radius: 20px;
}

.Landing h1{
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
}

.Landing-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10%;
    position: relative;
}