.Landing {
    height: auto;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Landing a{
    text-decoration: none;
    color: var(--color1);
}
.Landing-header{
    font-size: 28px;
    padding: 10px;
}

.Landing-header span{
    color: var(--color5);
}
.Landing-menu {
    display: flex;
    justify-content: space-around;
    padding: 15px 0px 10px 0px;
}

.Landing-menu div {
    width: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--color5);
    border-radius: 10px;
}


.Landing h1{
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
}

.Landing-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(200px, auto);
}

.Landing-search{
    display: flex;
    justify-content: center;
}

.Landing-search input{
    width: 70%;
    font-size: 18px;
    padding: 10px 30px 10px 5px;
    background: none;
    border: 1px solid var(--color3);
    border-radius: 15px;
    color: var(--color3);
}

.Landing-search input::placeholder{
    color: var(--color3);
    font-weight: lighter;
}